name: Bump version
on:
  push:
    branches:
      - main
jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}

      - name: Get commit summary
        id: get_commit_summary
        run: |
          PREVIOUS_TAG=$(git tag --sort=-creatordate | sed -n 2p)
          echo "PREVIOUS_TAG: $PREVIOUS_TAG"
          COMMIT_SUMMARY="$(git log --oneline --pretty=tformat:"%h %s" $PREVIOUS_TAG..${{ github.ref }})"
          echo "COMMIT_SUMMARY: $COMMIT_SUMMARY"
          echo ${{ github.ref }}
          COMMIT_SUMMARY="${COMMIT_SUMMARY//$'\n'/'%0A'}"
          echo ::set-output name=COMMIT_SUMMARY::$COMMIT_SUMMARY

      - name: gh test
        id: gh_command
        run: |
          LIST=$(gh pr list -s closed)
          echo $LIST
          echo ::set-output name=PR_LIST::$LIST
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Create a GitHub release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.tag_version.outputs.new_tag }}
          name: Release ${{ steps.tag_version.outputs.new_tag }}
          # body: ${{ steps.get_commit_summary.outputs.COMMIT_SUMMARY}}
          body: ${{ steps.gh_command.outputs.PR_LIST }}

      - name: Create version.txt
        uses: "finnp/create-file-action@master"
          env:
            FILE_NAME: "./version.txt"
            FILE_DATA: "${{ steps.tag_version.outputs.new_tag }}"

